# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
env/
venv/
.env

# Unit test / coverage reports
.coverage
.pytest_cache/

# IDE and editor specific
.idea/
.vscode/